<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thoughts</title>
    <link rel="stylesheet" href="/styles/style_p.css">
</head>

<body>
    <div class="inputs">
        <h1>Upload your pfp</h1>
        <form autocomplete="off" action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="image">
            <input class="i_bt" type="submit" value="Upload">
        </form>
    </div>
</body>

</html>