@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Permanent+Marker&family=Playwrite+NL:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
}

body {
    background: #ADA996;
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 1.2);
    max-width: 400px;
    width: 100%;
}

.inputs>h1 {
    font-size: 40px;
    /* color: azure; */
    color: 232526;
    text-align: center;
    margin-bottom: 40px;
    font-family: "Pacifico", cursive;
    letter-spacing: 3px;
}

.inputs>h3 {
    font-size: 16px;
    color: rgb(45, 57, 57);
    text-align: center;
    letter-spacing: 3px;
}

.logintag {
    text-decoration: none;
    color: red;
}

.input {
    font-size: 15px;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    color: black;
    background-color: rgb(170, 168, 168);
    min-height: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.ct {
    font-size: 15px;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    color: white;
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
    cursor: pointer;
    border-radius: 5px;
}